@use "mixins" as *;
@use "var" as *;



.drop-down {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;

  justify-content: center;
  background-color: black;
  font-size: 30px;
  font-family: bold;
  font-weight: 700;
  position: sticky;
  top: 70px;
  z-index: 100;

  select {
    width: 100%;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    font-size: 28px;
    font-family: shapiro-95-extd;
    color: white;
    background-color: transparent;
    border: none;
    border-bottom: 2px solid white;

    text-overflow: initial;
  }

  select:focus {
    outline: none !important;

  }

  option {
    text-transform: uppercase;
    max-width: 200px;
    overflow: hidden;
    word-wrap: normal !important;
    white-space: break-spaces;
  }

  option:before {
    white-space: break-spaces;
  }

  // .blue-half {
  //   position: absolute;
  //   bottom: 0;
  //   height: 10px;
  //   background-color: blue;
  // }
}


.sort-by {
  p {
    margin: 0;
    font-size: 10px;
  }

  position: relative;

  .blue-box {
    position: absolute;
    top: 18px;
    left: -39px;
    z-index: -19;
    background-color: blue;
    width: 35px;
    height: 35px;
  }

}



@media screen and (min-width:$tabletPortrait) {
  .drop-down {
    @include select-webkit;

  }
}